@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-main{
    padding-top: 60px;
}

.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
    position:fixed;
    top: 0
}

.main-navitem {
    display: inline;
    margin: 0 16px;
    font-weight: bold;
    font-size: 12px;
    color: #0e4f1f;
}

.main-navitem a {
    text-decoration: none;
}

.main-navitems {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-header>div,
.main-nav,
.main-navitem {
    display: inline-block;
}

.main-nav {
    width: calc(100% - 76px);
    text-align: right;
    vertical-align: middle;
}

.main-headerbrand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-header>div {
    vertical-align: middle;
}

.main-navitem a:hover,
.main-navitem a:active {
    color: white;
    font-weight: bold;
    border-bottom: 5px solid white;
}

.main-navitem_mensajes::before {
    content: "✉";
}

.main-navitem_logout a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-navitem_logout a:hover {
    color: #ff1b68;
    background-color: white;
    border-bottom: none;
}